[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pendulum = "*"
pymodbus = "*"
dash = "*"
path = "*"

[dev-packages]
ipython = "*"
black = "*"

[requires]
python_version = "3.9"
